# ========================
# Build artifacts
# ========================
build/
out/
x64/
Debug/
Release/

# ========================
# Visual Studio
# ========================
.vs/
*.user
*.suo
*.ilk
*.pdb
*.exe
*.obj
*.res
*.log
*.tlog
*.recipe

# ========================
# Qt / qmake
# ========================
.qtcreator/
*.pro.user
moc_*.cpp
moc_*.o
*.o
Makefile
Makefile.*
.qmake.stash
.qtc_clangd/